/* @media screen and (max-width: 1440px) { */
    .image {
        /* margin-top: 150px; */
        display: flex;
        height: 77% !important;
        width: 60% !important;
        right: 0;
        position: absolute;
        margin-right: 30px;
    }

    .slide {
        display: flex !important;
        justify-content: center !important;
    }

    .sliderr {
        margin-right: inherit;
        /* display: flex; */
    }

    .left-arrow {
        position: absolute;
        left: 60%;
        opacity: .3;
        top: 77%;
    }

    .right-arrow {
        position: absolute;
        right: 20%;
        opacity: .3;
        top: 77%;
    }

    .title-wrapper {
        width: 40%;
        height: 77%;
        position: absolute;
        background-color: aliceblue;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .title {
        color: black;
        font-size: 20px;
        text-align: center;
        padding-bottom: 30px;
    }

    .desc {
        color: black;
        font-size: 16px;
        text-align: center;
    }
/* } */
/* 
@media screen and (max-width: 1200px) {
    .image {
        display: flex;
        height: 15% !important;
        width: 15% !important;
    }
}

@media screen and (max-width: 986px) {
    .image {
        display: flex;
        height: 20% !important;
        width: 20% !important;
    }
}

@media screen and (max-width: 720px) {
    .image {
        display: flex;
        height: 25% !important;
        width: 25% !important;
    }
}

@media screen and (max-width: 610px) {
    .image {
        display: flex;
        height: 30% !important;
        width: 30% !important;
    }

    .slide {
        display: flex !important;
        justify-content: center !important;
    }

    .sliderr {
        margin-right: inherit;
    }

    .left-arrow {
        opacity: .3;
    }

    .right-arrow {
        opacity: .3;
    }
}

@media screen and (max-width: 500px) {
    .image {
        display: flex;
        height: 35% !important;
        width: 35% !important;
    }
}

@media screen and (max-width: 400px) {
    .image {
        display: flex;
        height: 50% !important;
        width: 50% !important;
    }
} */